.test{
    font-size: 20rem;
}
.container{
    width: 40%;
}
.box_container1{
    display:flex;
    justify-content: flex-start; /* main axis 만 건든다.*/
    align-items: center; /* cross axis를 건든다.*/
}
.box_container2{
    display:flex;
    justify-content: center; /* main axis 만 건든다.*/
    align-items: center; /* cross axis를 건든다.*/
}
.box_container3{
    display:flex;
    justify-content: flex-end; /* main axis 만 건든다.*/
    align-items: center; /* cross axis를 건든다.*/
}

.box_item{
    width: 100px;
    height: 100px;
    border-radius : 5px;
    background-color: lightgray;
    margin:3px;
}